/* FUENTES */
@font-face {
    font-family: 'Formula 1';
    src: url('../fonts/Formula1-Regular-1.ttf');
}

/* ESTILOS GENERALES BODY-MAIN... */
main {
    margin-top: -8px;
    background-color: #2D2D45;
    padding-bottom: 80px;
    box-sizing: border-box; /* Esto asegura que el padding no afecte al ancho y alto total */
    min-height: 79vh;
}

/* CSS HEADER */
.navbar-nav .nav-link {
    font-size: 22px;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    font-weight: 900;
    color: black;
}

.icono-navbar {
    width: 4%;
    margin-right: 20px;
    margin-left: 20px;
}

@media (max-width: 576px) {
    .custom-margin {
      margin-top: 25px !important; /* Importante para anular cualquier estilo anterior */
    }

    main {
        margin-top: -10px;
    }

    .letrasIndex {
        margin-top: -20px;
    }

    .custom-h5 {
        margin-bottom: 25px;
    }

    .custom-h5-pilotos h5 {
        white-space: nowrap;
        position: relative;
        top: -20px;
    }

    .img-movil {
        max-width: 100%;
        height: auto;
        width: 11%;
    }

    .icono-navbar-mobile {
        display: none;
    }
}

.titulos-header {
    margin-top: 65px;
    padding-top: 35px;
    text-align: center;
    background-color: #2D2D45;
    color: white;
}

.titulos-header h1 {
    font-weight: 800;
    font-size: 60px;
}

.titulos-header h4 {
    font-style: italic;
}

form i {
    font-size: 30px;
    padding-right: 12px;
    margin-top: 4px;
}

/* CSS CARTAS */
.card {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    font-family: 'Formula 1';
    overflow: hidden;
    width: 22rem;
}

.card:hover {
    border-color: red;
    transform: scale(1.05);
    box-shadow: 0 0 15px 0 rgba(255, 0, 0, 0.5);
}

.card-body {
    text-align: center;
    border-bottom: none;
}

.list-group-item {
    border-bottom: none;
    font-family: 'Formula 1';
}

.ap {
    font-weight: bold;
}

/* CSS INDEX.HTML */
.letrasIndex{
    font-size: 2em;
    font-weight: 700;
}

.imgPilotos, .imgEquipos{
    height: auto;
    padding-bottom: 220px;
}

/* CSS PILOTOS */
.main-pilotos{
    margin-top: -25px;
}

/* CSS EQUIPOS */
.ferrari{
    height: 196px;
}

/* CSS CARRUSEL */
.top-3{
    color: white;
    text-align: center;
    padding-top: 50px;
    font-family: 'Formula 1';
}

#carouselExampleCaptions, #carouselExampleCaptions2{
    max-width: 500px;
    margin: auto;
    padding-top: 50px;
}